.preview-container {
  width: 100%;
  /* height: 100vh; */
  background-color: #fff;
  padding: 3rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

header {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header span {
  width: 60px;
  height: 60px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  cursor: pointer;
}
header span .icon {
  width: 24px;
  height: 24px;
  color: #5111ad;
}

header h2 {
  font-size: 32px;
  font-weight: 700;
  font-family: "Nunito Sans", serif;
  color: #333;
}
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
main .top-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
main .top-section .left-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.left-section h4 {
  font-family: "Nunito Sans", serif;
  font-family: 700;
  font-size: 1rem;
  color: #333;
}
.left-section .progress-view {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.progress-view .progress {
  width: 40px;
  height: 8px;
  border-radius: 8px;
  background-color: #ccc;
}
.progress-view .active {
  background-color: #5111ad;
}

.right-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px 16px;
  box-sizing: border-box;
  gap: 8px;
  background-color: #f3f3f3;
  border-radius: 24px;
  height: 40px;
  h6 {
    font-family: "Nunito Sans", serif;
    font-size: 1rem;
    color: #5111ad;
    font-weight: 700;
    padding: 0;
    margin: 0;
  }
}
.top-section .warning {
  background-color: #ffcdd2 !important;
  border: #f44336 1px solid !important;
  color: #f44336 !important;
  animation: pulse 1s infinite !important;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.top-section .score {
  font-family: "Nunito Sans", serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #5111ad;
}
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .quiz-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  h3 {
    font-size: 24px;
    font-weight: 700;
    font-family: "Nunito Sans", serif;
    color: #333;
    text-transform: capitalize;
    text-align: center;
  }
  h4 {
    font-size: 20px;
    font-weight: 700;
    font-family: "Nunito Sans", serif;
    color: #333;
    text-transform: capitalize;
    text-align: center;
  }
}
.quiz-section .definitions {
  width: 100%;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}
.quiz-section .definitions .definition {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border: #5111ad 1px dashed;
  background-color: #f3f3f3;
  border-radius: 8px;
  font-family: "Nunito Sans", serif;
  font-size: 16px;
  transition: background-color 0.3s;
  text-align: center;
}
:deep(.correct) {
  background-color: #c8e6c9 !important;
  border: #4caf50 1px solid !important;
  color: #4caf50;
}
:deep(.incorrect) {
  background-color: #ffcdd2 !important;
  border: #f44336 1px solid !important;
  color: #f44336;
}

.quiz-section .terms {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .term {
    width: 19%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 8px;
    background-color: #f3f3f3;
    cursor: grab;
    user-select: none;
    transition:
      transform 0.2s ease-in-out,
      opacity 0.2s;
  }
  .term:active {
    cursor: grabbing;
    transform: scale(1.1);
    opacity: 0.7;
  }
}
span {
  transition: opacity 0.3s ease-in-out;
}

footer {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.5rem;
  button:first-child {
    border: 1px solid #ccc;
    background-color: transparent;
    border-radius: 12px;
    padding: 16px;
    /* height: 44px; */
    cursor: pointer;
  }
  button:last-child {
    border: none;
    width: 50%;
    background-color: #5111ad;
    color: #fff;
    border-radius: 12px;
    padding: 16px 32px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-family: "Nunito Sans", serif;
    font-size: 16px;
    font-weight: 700;
  }
}
@media screen and (max-width: 1024px) {
  main .top-section .score {
    margin-left: -15%;
  }
  footer {
    width: 50%;
    button:last-child {
      width: 70%;
    }
  }
}
@media screen and (max-width: 768px) {
  header {
    width: 100%;
    h2 {
      font-size: 28px;
    }
  }
  main .top-section {
    width: 100%;
  }
  main .top-section .left-section .progress-view .progress {
    width: 20px;
  }
  main .top-section .score {
    margin-left: -8%;
  }
  main .quiz-section .definitions {
    width: 100%;
    gap: 8px;
  }
  main .quiz-section .definitions .definition {
    width: 45%;
  }
  main .quiz-section .terms {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    .term {
      width: 45%;
    }
  }
  footer {
    width: 60%;
  }
}

@media screen and (max-width: 480px) {
  .preview-container {
    padding: 3rem 1rem;
  }
  header h2 {
    font-size: 24px;
  }
  header span {
    width: 40px;
    height: 40px;
  }
  header span .icon {
    width: 16px;
    height: 16px;
  }
  main .top-section {
    width: 100%;
  }
  .top-section .score {
    font-size: 1rem;
    margin-left: -14%;
  }
  main .top-section .left-section h4 {
    font-size: 14px;
  }
  main .top-section .left-section .progress-view .progress {
    width: 16px;
    height: 4px;
  }
  main .top-section .right-section {
    padding: 4px 8px;
    gap: 4px;
    height: 32px;
    h6 {
      font-size: 12px;
    }
    .time {
      width: 12px;
      height: 12px;
    }
  }
  main .quiz-section .definitions .definition {
    width: 45%;
    padding: 1rem;
    font-size: 12px;
  }
  main .quiz-section .terms .term {
    width: 30%;
  }
  footer {
    width: 100%;
    button:last-child {
      width: 80%;
    }
    button:first-child {
      .reset-icon {
        width: 16px;
        height: 16px;
      }
    }
  }
}
